.parent {
    /* padding: 20px; */
    border: 2px solid black;
    width: 150px;
    height: 150px;
    overflow: auto;
    /* white-space: nowrap; */
}

ul>li {
    padding: 5px;
}

#border {
    border: 1px solid red;
}

.background {
    background-color: rgba(241, 241, 241, 1);
}

.background-none {
    background: none;
}

.add {
    font-size: 25px;
    font-weight: 700;
    background: blueviolet;
    color: #fff;
}